// forms
.form-check-label {
    @apply ms-2;
}

.form-inline {
    .form-label {
        @apply mb-0 me-5 text-end;
        @include media-breakpoint-down(sm) {
            @apply mb-2 me-0 text-start;
        }
    }
}

.form-file {
    @apply text-xs text-gray-500 file:mr-3 file:py-2 file:px-6 file:rounded-full file:border-0 file:text-xs file:font-medium file:bg-blue-50 file:dark:bg-dark-3 file:dark:text-gray-300 file:text-blue-700 hover:file:cursor-pointer;
}

.div-form-control {
    @apply form-control bg-gray-100 dark:bg-dark-2;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    min-height: 38px;
}

.form-card {
    @apply border border-gray-300 dark:border-dark-5 rounded-md;
}
.form-card-header {
    @apply font-medium border-b border-gray-300 dark:border-dark-5 p-5;
}
.form-card-body {
    @apply space-y-8 px-5 py-8;
}

.btn-success,
.btn-outline-success,
.btn-elevated-success {
    @apply bg-theme-20 border-theme-20 dark:border-theme-20;
}

.btn-outline-dark:hover,
.btn-outline-success:hover,
.btn-outline-warning:hover,
.btn-outline-danger:hover,
.btn-outline-primary:hover {
    color: white !important;
}

.dropdown-menu-link {
    @apply flex items-center p-2 mb-1 transition duration-300 ease-in-out hover:bg-gray-200 dark:hover:bg-dark-3 rounded-md w-full cursor-pointer;
}

// modals
@media (min-width: 640px) {
    .modal .modal-dialog.modal-2xl {
        width: 600px !important;
    }
}
@media (min-width: 1024px) {
    .modal .modal-dialog.modal-2xl {
        width: 900px !important;
    }
}
@media (min-width: 1366px) {
    .modal .modal-dialog.modal-2xl {
        width: 1100px !important;
    }
}

// pagination
.pagination {
    margin-right: 0%;
    .pagination__link--active {
        @apply bg-gray-200 dark:bg-dark-5 #{!important};
    }
    @media (max-width: 639px) {
        li {
            flex: none !important;
        }
        .pagination__link {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }
}

// Custom scrollbar
@media only screen and (min-width: 1025px) {
    .has-cool-scrollbar::-webkit-scrollbar {
        width: 18px !important;
        height: 20px !important;
    }
    .has-cool-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-gray-500/90 dark:bg-gray-600/90 z-50;
        border: 4px solid transparent;
        border-radius: 8px;
        background-clip: padding-box !important;
    }

    .has-cool-scrollbar-lg::-webkit-scrollbar {
        width: 21px !important;
        height: 22px !important;
    }
    .has-cool-scrollbar-lg::-webkit-scrollbar-thumb {
        @apply bg-gray-500/90 dark:bg-gray-600/90 z-50;
        border: 4px solid transparent;
        border-radius: 8px;
        background-clip: padding-box !important;
    }

    .has-cool-scrollbar-sm::-webkit-scrollbar {
        width: 14px !important;
        height: 16px !important;
    }
    .has-cool-scrollbar-sm::-webkit-scrollbar-thumb {
        @apply bg-gray-500/80 dark:bg-gray-600/80 z-50;
        border: 4px solid transparent;
        border-radius: 8px;
        background-clip: padding-box !important;
    }
}

// nprogress
#nprogress .bar {
    @apply bg-theme-24 #{!important};
}
